/*Header*/
.card-background {
  background-color: #f3f0e8; /* El color beige del fondo */
  width: 100%;
  height: 500px;
  
  /* Puntos: Top-Left, Top-Right, Bottom-Right, Bottom-Left */
  /* Ajusta el 85% para cambiar la inclinación */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); 
}
header{
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h3{
    font-size: 12px;
    color: #B8AB93;
    font-family: Arial;
    line-height: 24px; 
}

/*General*/

p {
    font-size: 18px;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 30px;
    margin: 0;
}


a{
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    font-style: normal;
    color: rgb(29, 158, 187);
    text-decoration: none;
}

/*Div's*/

div{
    padding-top: 30px;
}

/*Imagenes*/

img{
    height: 160px;
    width: 160px;
}

/*Titulos*/

h1{
    font-size: 56px;
    font-weight: 900px;
    line-height: 46px;
    word-spacing: -2.17px;
    margin: 20px;
}

h2{
    font-size: 36px;
}

h3 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B8AB93;
}


h4{
    font-size: 18px;
    font-family: Arial;
    font-weight: 100px;
}

/*Clases*/



/*Bellow*/

.bellow{
    padding: 100px 0 100px 0;
    align-items: center;
    text-align: center;
}

.bellow img{
    width: 25px;
    height: 25px;
}

.bellow p{
    font-size: 26px;
}

.bellow h2{
    font-size: 40px;
    font-weight: 900px;
    font-family: "Playfair Display", serif;
}   

/*Icons*/

.icons-gallery{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    justify-content: space-around;
}


/*Buttons*/

button{
    width: 225px;
    height: 60px;
    font-size: 18px;
    color: white;
    background-color: #0699A6;
}


@media (min-width: 1200px){
    p{
        font-size: 22px;
    }
    h2{
       font-size: 48px; 
    }
    h1{
        font-size: 68px;
    }
    h3{
        font-size: 24px;
    }
    header h3{
        font-size: 24px;
    }

    .bellow p{
        font-size: 38px;
    }

    .bellow h2{
        font-size: 62px;
    }   
    a{
        font-size: 24px;
    } 
    .icons-gallery img{
        width: 55px;
        height: 55px;
    }
}